<nav>
    <ul id="menu">
        <li><a (click)="logoutUser()"> <i class="fas fa-user"></i> Logout </a></li>
    </ul>
</nav>
<div class="buttondiv txtright">
    <button type="button" (click)="createUser()">Create User</button>
</div>
<div class="container">
    <div class="usertable">
        <h3 class="ml30" [ngClass]="headerClass">Registered Users</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>PAN Number</th>
                    <th>Mobile No</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersList">
                    <td>{{user.name | titlecase }}</td>
                    <td>{{user.email | lowercase }}</td>
                    <td [ngStyle]="{'background-color': user.age < 18 ? 'red' : 'blue' }">{{user.age}}</td>
                    <td>
                        <span *ngIf="user.gender === 'm'">Male</span>
                        <span *ngIf="user.gender === 'f'">Female</span>
                    </td>
                    <td>{{user.pan | uppercase }}</td>
                    <td>{{user.mobileno | mobileNumber}}</td>
                    <td>
                        <div class="buttondiv">
                            <button type="button" (click)="editUser(user)">Edit</button>
                            <button type="button" (click)="DeleteUser(user._id)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="ml30"><span appNoteColor>Note: If user age is < 18, to be marked in red. (Today's Date is: {{ todayDate | date:'longDate' }})</span></div>
    </div>
</div>

