
div.fixedheaderdiv {
    position: fixed;
    height: 75px;
    background-color: #508450;
    color: #fff;
    text-align: center;
    width: 100%;
}

#titlediv {
    font-size: 34px;
    display:table-cell;
    vertical-align: middle;
}
