<!-- <div class="m20"><a href="#" (click)="backToParent()"> BACK </a></div> -->
<div class="container">
    <div class="logindiv">
        <h1>Change Password</h1>
        <form id="passwordForm" #passwordForm="ngForm" (ngSubmit)="changePassword(passwordForm)">
            <div class="formcontrol">
                <span class="label">Current password: </span>
                <input type="password" name="opwd" ngModel required minlength="8" maxlength="20">
            </div>
            <div class="formcontrol">
                <span class="label" >New password: </span>
                <input type="password" name="pwd" ngModel required minlength="8" maxlength="20">
            </div>
            <div *ngIf="passwordForm.controls.pwd?.touched && passwordForm.controls.pwd?.invalid" class="errordiv">
                <div *ngIf="passwordForm.controls.pwd.errors.required"> Please enter the password </div>
                <div *ngIf="passwordForm.controls.pwd.errors.minlength"> Password must be minimum 8 chars </div>
            </div>
            <div class="formcontrol">
                <span class="label">Confirm new password: </span>
                <input type="password" name="cpwd" ngModel required minlength="8" maxlength="20">
            </div>
            <div *ngIf="passwordForm.controls.cpwd?.touched && (passwordForm.controls.pwd.value !== passwordForm.controls.cpwd.value)" class="errordiv">
                <div> Password and confirm password are not matching. </div>
            </div>
            <div class="buttondiv">
                <button type="submit" [disabled]="passwordForm.invalid">Change Password</button>
                <button type="button" (click)="resetForm(passwordForm)">cancel</button>
            </div>
        </form>
    </div>
</div>







