<nav>
    <ul id="menu">
        <li><a (click)="logoutUser()"> <i class="fas fa-user"></i> Logout </a></li>
    </ul>
<div class="container" *ngIf="isAdmin">
    <!-- <div>Hi, {{userDetails.userID}}</div> -->
    <div class="usertable">
        <h3 class="ml30" [ngClass]="headerClass">Registered Users</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>PAN Number</th>
                    <th>Mobile No</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersList">
                    <td>{{user.name | titlecase }}</td>
                    <td>{{user.email | lowercase }}</td>
                    <td [ngStyle]="{'background-color': user.age < 18 ? 'red' : 'blue' }">{{user.age}}</td>
                    <td>
                        <span *ngIf="user.gender === 'm'">Male</span>
                        <span *ngIf="user.gender === 'f'">Female</span>
                    </td>
                    <td>{{user.pan | uppercase }}</td>
                    <td>{{user.mobileno | mobileNumber}}</td>
                </tr>
            </tbody>
        </table>
        <div class="ml30"><span appNoteColor>Note: If user age is < 18, to be marked in red. (Today's Date is: {{ todayDate | date:'longDate' }})</span></div>
    </div>
</div>

<div class="container userprofile" *ngIf="!isAdmin">
     <div class="title">User Profile</div>
     <div><span class="label">Name</span>{{userProfile?.name}}</div>
     <div><span class="label">Email</span>{{userProfile?.email}}</div>
     <div><span class="label">Age</span>{{userProfile?.age}}</div>
     <div><span class="label">Gender</span>{{userProfile?.name}}</div>
     <div><span class="label">PAN Number</span>{{userProfile?.pan | uppercase}}</div>
     <div><span class="label">Mobile No</span>{{userProfile?.mobileno}}</div>
</div>
