<nav>
    <ul id="menu">
        <li><a [routerLink]="'/login'"> <i class="fas fa-user"></i> Logout </a></li>
    </ul>
<div class="container">
    <div class="usertable">
        <h3 class="ml30" [ngClass]="headerClass">Registered Users</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>PAN Number</th>
                    <th>Mobile No</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersList">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td [ngStyle]="{'background-color': user.age < 18 ? 'red' : 'blue' }">{{user.age}}</td>
                    <td>
                        <span *ngIf="user.gender === 'm'">Male</span>
                        <span *ngIf="user.gender === 'f'">Female</span>
                    </td>
                    <td>{{user.pan}}</td>
                    <td>{{user.mobile}}</td>
                </tr>
            </tbody>
        </table>
        <div class="ml30"><span appNoteColor>Note: If user age is < 18, to be marked in red.</span></div>
    </div>
</div>
