<nav>
    <ul id="menu">
        <li><a [routerLink]="'/login'"> <i class="fas fa-user"></i> Logout </a></li>
    </ul>
<div class="container">
    <div class="usertable">
        <h3 class="ml30">Registered Users</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>PAN Number</th>
                    <th>Hoppies</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name001</td>
                    <td>ponradha01@rmr.com</td>
                    <td>21</td>
                    <td>Male</td>
                    <td>BCHPP5818B</td>
                    <td>Cycling, Reading</td>
                </tr>
                <tr>
                    <td>Name002</td>
                    <td>ponradha02@rmr.com</td>
                    <td>22</td>
                    <td>Male</td>
                    <td>BCHPP5828B</td>
                    <td>Cycling, Reading</td>
                </tr>
                <tr>
                    <td>Name003</td>
                    <td>ponradha03@rmr.com</td>
                    <td>23</td>
                    <td>Male</td>
                    <td>BCHPP5838B</td>
                    <td>Cycling, Reading</td>
                </tr>
                <tr>
                    <td>Name004</td>
                    <td>ponradha04@rmr.com</td>
                    <td>24</td>
                    <td>Male</td>
                    <td>BCHPP5848B</td>
                    <td>Cycling, Reading</td>
                </tr>
                <tr>
                    <td>Name005</td>
                    <td>ponradha05@rmr.com</td>
                    <td>25</td>
                    <td>Male</td>
                    <td>BCHPP5858B</td>
                    <td>Cycling, Reading</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
