<div class="container">
    <div class="description">
       <p></p> This is a User management system designed by RK. User management is a core module that almost every web application required. Based on the role of the logged in user, the pages are shown. The user can can play with the web application for which the user is authenticated. This module represents the user manager. It involves registering the new user, update user, delete user and user login.
       <div class="links">
            <a [routerLink]="'/login'"> <i class="fas fa-user"></i> Sign In </a>
            <a [routerLink]="'/register'"> <i class="fas fa-cloud"></i> Sign Up </a>                  
        </div>
    </div>
</div> 
