<nav>
    <ul id="menu">
        <li><a [routerLink]="'/register'"> <i class="fas fa-cloud"></i> Register </a></li>
    </ul>
</nav>
<div class="container">
    <div class="logindiv">
        <h1>Login</h1>
        <form id="loginForm">
            <div class="formcontrol">
                <span class="label" for="username">User ID: </span>
                <input type="text" id="username">
            </div>
            <div class="formcontrol">
                <span class="label" for="pwd">Password: </span>
                <input type="password" id="pwd">
            </div>
            <div class="buttondiv">
                <button>Login</button>
                <button>cancel</button> 
            </div>
        </form>
    </div>
</div>







