

.logindiv {
    text-align: center;
}

.buttondiv button{
    background-color: #508450;
    color: #fff;
    padding: 10px 20px;
    margin: 6px;
    border-radius: 4px;
    border: 2px solid #fff;
    font-weight: bold;
}

.errordiv {
    padding: 0 0 10px 60px;
    color:red;
}
